<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= simple_form_for @exercise do |f| %>
    <%= f.input :name, label: "Nom de l'exercice" %>
    <%= f.input :exercise_type, collection: types_collection, label: "Type d'exercice"%>
    <%= f.input :equipment, collection: equipments_collection, label: "Equipement recquis"%>
    <%= f.input :description, label: "Description"%>
    <%= f.submit %>
  <% end %>
  </div>
</div>
